# API Framework
fastapi
uvicorn


# Configuration
pydantic-settings
python-dotenv


# Database
sqlalchemy
psycopg2-binary
alembic


# LangChain
langchain
langchain-community
langchain-groq
langchain-huggingface 
sentence-transformers

# Vector Database
qdrant-client
langchain-qdrant
langchain-groq


# Redis
redis


# File Processing
pypdf
python-multipart


# Testing
pytest
httpx